<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>
<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>
<p>
  <strong>Publish Date:</strong>
  <%= @book.published_date %>
</p>
<p>
  <%= link_to 'Back', controller: 'books' %>
</p>

